.test{
    color: red;
    font-size: large;
}
.box{
    border: 1px solid;
    padding: 10px;
    box-shadow : 5px 10px red;
    width: 400px;
}
.underAge{
color: red;
}
.overAge {
    color: aliceblue;
    background-color: blue;
}